* {
    box-sizing: border-box;
}

#test-nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 3%;
    padding-left: 0;
}

#nav-logo-test {
    margin-right: auto;
    padding-left: 0;
    font-size: 1.5em;
}

.nav-menu-test {
    padding-left: 1%;
}

#product-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3em;
    height: 4em;
}

#product-header div {
    margin: 0;
}

#product-header-text {
    padding: 1em;
}

#product-header-search {
    width: 25vw;
    padding: 1em;
    height: 100%;
}

#product-header-search input {
    width: 75%;
    height: 100%;
  
} 

#product-header-search-icon {
    background-color: black;
    display: inline-block;
    color: white;
    width: 1em;
    
} 

#product-header-pricelist {
    background-color: black;
    color: white;
    border: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    width: 9em;
}

#product {
    display: flex;
}

#product-image {
    width: 70%;
}

#product-image img{
    width: 100%;
}

#product-info {
    width: 30%;
    padding-left: 2.5%;
}

#product-name {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 0;
}

#product-price {
    margin-top: 0.5em;
    font-size: 1em;
}

#product-colors {
    display: flex;
    list-style: none;
    padding-left: 0;
}

#product-colors li {
    margin: 0.25em;
    width: 1.5em;
    height: 1.5em;
    border: 0.5px solid black;
}

#product-color-1 {
    background-color: black;
}

#product-color-2 {
    background-color: rgb(204, 38, 38)   ;
}

#product-color-3 {
    background-color: white;
}

#product-color-4 {
    background-color: rgb(79, 79, 207);
}

#add-to-cart-button {
    background-color: #52B5C6;
    color: white;
    border: none;
    height: 2.5em;
    width: 11em;
}

#product-description, #purchase-conditions {
    color: #848183;
    margin-top: 1em;
    padding-top: 1em;
    border-top:  0.5px solid #848183;
}

#purchase-conditions {
    list-style: none;
    padding-left: 0;
}